<IfModule mod_rewrite.c>
	RewriteEngine On
    RewriteBase /TPEweb2.nutripoint/
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1 [QSA,L]
</IfModule>